// Add your own CSS here!

:root {
  --light: #ffffff;
  --dark: #ffffff;
  --secondary: #ffffff;
  --tertiary: #ffffff;
  --visited: #ffffff;
  --primary: #ffffff;
  --gray: #ffffff;
  --lightgray: #ffffff;
  --outlinegray: #ffffff;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #ffffff88;
}

[saved-theme="dark"] {
  --light: #000000 !important;
  --dark: #ac00fc !important;
  --secondary: #6b769a !important;
  --visited: #4a575e !important;
  --tertiary: #84a598 !important;
  --primary: #6600ff !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;
}



